[Unit]
Description=JPX 信用取引残高データ 日次取得タイマー
Requires=margin-fetch.service

[Timer]
# 毎日 07:30 (JST) に実行
OnCalendar=*-*-* 15:00:00
TimeZone=Asia/Tokyo

# システム起動後に実行タイミングを逃していた場合は即時実行
Persistent=true

[Install]
WantedBy=timers.target
